@use '../../styles/mixins' as *;

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0rem;
  margin-bottom: 40px;
  color: var(--primary-text-color);
  border-bottom: 1px solid var(--header-bottom-color);

  @include md {
    flex-direction: row;
    align-items: center;
  }

  .myPicture {
    isolation: isolate;
    width: 150px;
    border-radius: 14px;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    word-break: keep-all;

    .react-rotating-text-cursor {
      animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
    }

    strong {
      display: inline-block;
      font-weight: 600;
    }

    &.korean {
      font-weight: 100;
      font-size: 1.3118rem;
      line-height: 1.2;

      .title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.4;

        @include md {
          font-size: 28px;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 1.5;
        color: var(--secondary-text-color);
        text-overflow: ellipsis;
        display: -webkit-box;
        /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    &.english {
      font-family: 'montserrat';
      font-weight: 100;
      font-size: 1.3118rem;
      line-height: 1.2;

      .title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 1.4;

        @include md {
          font-size: 28px;
        }
      }

      .description {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 1.5;
        color: var(--secondary-text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
      }

      .social-links {
        margin-top: 20px;
        display: flex;
      }
    }
  }

  .thumbnail-wrapper {
    display: none;
    margin-right: 20px;
    @include md {
      display: block;
    }
  }
}
