.post-card-column-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .post-card-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .post-card-wrapper {
      margin-bottom: 10px;
    }

    .more-post-card-button {
      width: 120px;
      height: 40px;
      font-weight: 500;
      font-size: 15px;
      background-color: var(--highlight-color);
      color: var(--introduce-text-color);

      animation: jittery 4s infinite;

      &:hover {
        background-color: var(--highlight-hover-color);
      }
    }
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.15);
  }

  20% {
    transform: scale(1.15) rotate(-5deg);
  }

  25% {
    transform: scale(1.15) rotate(5deg);
  }

  30% {
    transform: scale(1.15) rotate(-3deg);
  }

  35% {
    transform: scale(1.15) rotate(2deg);
  }

  40% {
    transform: scale(1.15) rotate(0);
  }
}
