// light mode colors
html {
  --background-color: #ffffff;
  --background-transparent-color: #ffffff36;
  --header-bottom-color: rgba(235, 234, 234, 0.837);
  --highlight-color: #6c63ff;
  --highlight-hover-color: #5048f3;
  --introduce-text-color: #cbd5e1;
  --primary-text-color: #0f172a;
  --secondary-text-color: #0f172a;
  --content-text-color: #334151;

  --button-background-color: #f3f3f4;
  --button-text-color: #363f47;

  --tab-text-color: #6e6d7a;
  --tab-hover-text-color: #0d0c22;
  --tab-selected-background-color: rgba(13, 12, 34, 0.05);

  --bio-link-icon-color: rgba(0, 0, 0, 0.54);
  --about-link-icon-color: #a8a8a8;

  --chip-background-color: #6e6d7a;
  --link-text-color: #6e6d7a;
  --post-card-border-color: #6c63ff;

  --markdown-table-even-cell-background-color: #f6f8fa;
  --markdown-table-border-color: #dfe2e5;
  --markdown-blockquote-border-color: #dfe2e5;
  --markdown-border-color: #e1e4e8;
}

// dark mode colors
html[data-theme='dark'] {
  --background-color: #232326;
  --background-transparent-color: #2323267a;
  --primary-text-color: #e2e8f0;
  --introduce-text-color: #e2e8f0;
  --secondary-text-color: #e2e8f0;
  --content-text-color: #cbd5e1;
  --header-bottom-color: rgba(151, 151, 151, 0.38);

  --button-background-color: #353535;
  --button-text-color: #cbd5e1;

  --tab-text-color: #cbd5e1;
  --tab-hover-text-color: #acbac7;
  --tab-selected-background-color: #35353;

  --chip-background-color: #323a42;
  --bio-link-icon-color: #cbd5e1;
  --about-link-icon-color: #a8a8a8;

  --link-text-color: #90b0ec;
  --post-card-border-color: #363f47;

  --markdown-table-even-cell-background-color: #2d333b;
  --markdown-table-border-color: #444c56;
  --markdown-blockquote-border-color: #4f5864;
  --markdown-border-color: #e1e4e8;
}
