@use '../../styles/mixins' as *;
@use '../../styles/markdown-style' as *;

.timestamp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 50px;
  word-break: keep-all;

  .body {
    width: 100%;

    .timestamp {
      display: flex;
      justify-items: center;
      flex-direction: column;
      font-family: var(--font-family);
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;

      @include md {
        font-size: 18px;
      }

      .activity {
        .activity-title {
          color: var(--primary-text-color);
          text-decoration: underline;
          text-decoration-style: dashed;
          text-decoration-thickness: 1px;
          text-underline-offset: 6px;
          width: 100%;
          font-size: 21px;
          font-weight: 700;
          transition: 300ms;
        }

        .activity-title::after {
          content: ' ↗ ';
          font-size: 80%;
          vertical-align: middle;
          font-weight: 700;
        }

        .activity-title:hover {
          color: var(--highlight-color);
        }

        .activity-description {
          margin: 8px 0px;
          padding: 1.5em 1em;
          font-size: 16px;
          color: var(--content-text-color);
          background-color: var(--button-background-color);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-radius: 5px;
          border-left: 0.25em solid var(--markdown-blockquote-border-color);

          @include md {
            font-size: 18px;
          }
        }
      }

      .job-wrapper {
        display: flex;
        margin: 12px 0px;

        .job {
          width: 115px;
          min-width: 115px;

          @include md {
            width: 200px;
            min-width: 200px;
          }

          .job-title {
            color: var(--primary-text-color);
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
          }
          .job-date {
            margin-right: 5px;
            color: var(--primary-text-color);
            align-self: center;
          }
        }

        .job-description {
          list-style: disc;

          .description {
            margin-bottom: 21px;
          }

          li {
            margin-left: 18px;
          }
        }
      }
    }
  }
}
