@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.introduce-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 42px;

  .introduce-wrapper {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: var(--content-text-color);
    font-family: $font-family;

    .description {
      font-size: 16px;
      font-family: $font-family;
      margin-bottom: 20px;
      color: var(--content-text-color);

      @include md {
        font-size: 18px;
      }
    }
  }
}
