@use '../../styles/mixins'as *;

.page-header-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 50;
  justify-content: center;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid var(--header-bottom-color);
  background-color: var(--background-color);

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include content-max-width;

    .link {
      color: var(--primary-text-color);

      @include md {
        font-weight: 500;
        font-size: 15px;
      }
    }

    .link-logo {
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 400;

      .logo {
        height: 27px;
      }
    }

    .introduce {
      color: var(--introduce-text-color);
      background-color: var(--highlight-color);
      border-radius: 6px;
      padding: 7px 12px;

      &:hover {
        transition: 0.5s;
        background-color: var(--highlight-hover-color);
      }

      @include md {
        font-weight: 600;
        font-size: 15px;
      }
    }

    .front-section {
      .link {
        position: relative;
        padding-right: 10px;

        .primary {
          color: var(--highlight-color) !important;
          font-weight: 700;
          margin-right: 3px;
        }
      }
    }

    .trailing-section {
      #menu {
        position: relative;
      }

      #menu:before {
        content: '';
        width: 0;
        height: 4px;
        display: block;
        position: absolute;
        margin-top: 0.2em;
        border-bottom: 3px solid var(--highlight-color);
        transition: 0.5s;
        bottom: -5px;
        left: 0;
      }

      #menu:hover::before {
        width: 100%;
      }

      .link {
        margin-right: 10px;

        @include md {
          margin-right: 20px;
        }
      }
    }
  }
}
