@use '../../styles/mixins'as *;

.page-header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include content-max-width;

    .link {
      color: var(--primary-text-color);

      @include md {
        font-weight: 700;
        font-size: 20px;
      }
    }

    .front-section {
      .link {
        position: relative;
        padding-right: 10px;

        .primary {
          position: absolute;
          bottom: 0;
          right: 0;
          color: var(--highlight-color) !important;
          font-size: 30px;
        }
      }
    }

    .trailing-section {
      #menu {
        position: relative;
      }

      #menu:before {
        content: '';
        width: 0;
        height: 5px;
        display: block;
        position: absolute;
        margin-top: 0.2em;
        border-bottom: 3px solid var(--highlight-color);
        transition: 0.5s;
        bottom: 0;
        left: 0;
      }

      #menu:hover::before {
        width: 100%;
      }

      .link {
        margin-right: 10px;

        @include md {
          margin-right: 20px;
        }
      }
    }
  }
}
