@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.post-card-wrapper {
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;

  .post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: $content-max-width;
    border: 1px solid var(--post-card-border-color);
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;

    color: var(--primary-text-color);

    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      .title {
        text-decoration: underline var(--highlight-color);
        text-underline-position: under;
        text-decoration-thickness: 3px;
      }
    }

    @include md {
      margin-bottom: 0;
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 12px;
      line-height: 1.4;
    }

    .description {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 20px;
      color: var(--secondary-text-color);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      font-size: 14px;
      color: var(--about-link-icon-color);

      .categories {
        display: flex;

        .category {
          margin-left: 4px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
