@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.post-card-wrapper {
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: $content-max-width;
    color: var(--primary-text-color);

    @include md {
      margin-bottom: 0;
      flex-direction: row;
    }

    &:hover {
      .title {
        color: var(--highlight-color);
        transition-duration: 0.5s;
      }

      .thumbnail {
        transform: translateY(-8px);
        transition-duration: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }

    .thumbnail {
      width: 100%;
      margin: 0 0 20px 0;
      border-radius: 14px;
      isolation: isolate;
      transition: 0.2s ease-in-out;

      @include md {
        min-width: 240px;
        min-height: 240px;
        margin-right: 48px;
      }
    }

    .title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 12px;
      line-height: 1.4;

      @include md {
        font-size: 36px;
      }
    }

    .description {
      font-size: 17px;
      margin-bottom: 10px;
      line-height: 1.5;
      color: var(--secondary-text-color);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .info {
      display: flex;
      margin-top: auto;
      font-size: 14px;
      color: var(--about-link-icon-color);

      .categories {
        display: flex;

        .category {
          margin-left: 4px;
        }
      }
    }
  }
}
