@use '../../styles/mixins' as *;

.section-header-wrapper {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 8px;

  .section-header {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 30px;
    color: var(--highlight-color);
  }
}
