@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/reset' as *;
@use '../styles/colors' as *;

* {
  box-sizing: border-box;
  appearance: none;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
}

body {
  background-color: var(--background-color) !important;
  transition: 300ms;
}

a {
  color: var(--link-text-color);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
  color: var(--primary-text-color);

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include content-max-width;
  }

  .page-wrapper-point {
    position: absolute;
    right: -30%;
    top: -10%;
    z-index: -20;
    .page-wrapper-point-inner {
      position: relative;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      filter: blur(100px);
      transform: translateX(66.666%);
      transform: translateY(-66.666%);
      opacity: 0.5;
      background-color: var(--highlight-color);
      --tw-gradient-to: transparent var(--tw-gradient-to-position);
      @include lg {
        transform: translateX(50%);
        transform: translateY(-50%);
      }
    }
  }
}
